APP_NAME=FilamentStarterKit
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_PORT=8081
APP_URL="http://localhost:${APP_PORT}"

DB_CONNECTION=mysql
DB_HOST=mysql
DB_USERNAME=sail
DB_PASSWORD=password
DB_DATABASE=sail

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025

QUEUE_CONNECTION=sync
REDIS_HOST=redis

VITE_APP_NAME="${APP_NAME}"
APP_SERVICE=app

# docker custom ports, remove if not needed
#VITE_PORT=5181
#FORWARD_DB_PORT=3381
#FORWARD_REDIS_PORT=6381
#FORWARD_MAILPIT_PORT=1081
#FORWARD_MAILPIT_DASHBOARD_PORT=8181
